<!doctype html>
<html ng-app="myApp">

<head>
    <title>Meltemi</title>
    <!--<script src="/node_modules/angular/angular.js"></script>-->
    <script src="jquery.js"></script>
    <script src="angular.min.js"></script>
    <script src="controllers.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-switch.min.css">
    <script src="bootstrap.min.js"></script>
    <script src="bootstrap-switch.min.js"></script>
    <script src="angular-bootstrap-switch.min.js"></script>
    <script src="justgage.js"></script>
    <script src="raphael-2.1.4.min.js"></script>
    <link rel="stylesheet" href="custom.css">
</head>

<body ng-controller="AppCtrl">

    <div class="container-fluid">

        <div class="row row-eq-height">
            <div class="col-sm-6 text-center" style="padding: 0; background-color:#ec663c; margin: 2px;">
                <h2>Voltage</h2>
                <h3 class="text-center"><strong>{{allValues.volt | number : 0}} V</strong></h3>
                <!--<h3 class="text-center"><strong>25 <sup>o</sup>C</strong></h3>-->
                <!--<div id="gaugeTemperature" style="height:180px;"></div>-->
            </div>
            <div class="col-sm-6 text-center" style="padding: 0; background-color:#9c4274; margin: 2px;">
                <h2>Current Cost</h2>
                <!--<h3 class="text-center"><strong>{{humidity | number : 2}} €/hour</strong></h3>-->
                <h3 class="text-center"><strong>{{allValues.power * 0.0946 | number : 2}} €/hour</strong></h3>
                <!--<h3 class="text-center"><strong>50.62 %</strong></h3>-->
                <!--<div id="gaugeHumidity" style="height:180px;"></div>-->
            </div>
        </div>

        <div class="row row-eq-height">
            <div class="col-sm-6 text-center" style="padding: 0; background-color:#12b0c5; margin: 2px;">
                <h2>Date</h2>
                <h3 class="text-center"><strong>{{allValues.date}}</strong></h3>
            </div>
            <div class="col-sm-6 text-center" style="padding: 0x; background-color: #96BF48; margin: 2px;">
                <h2>Consumption</h2>
                <!--<h3 class="text-center"><strong>{{allValues.consumption | number : 2}} kW</strong></h3>-->
                <h3 class="text-center"><strong>{{allValues.power}} W</strong></h3>
            </div>
        </div>

        <div class="row row-eq-height">
            <div class="col-sm-3 text-center" style="padding: 0; background-color:#47bbb3; margin: 2px;">
                <h2>A.C.</h2>

                <input type="checkbox" name="ac-checkbox">


                <!--<div class="btn-group" data-toggle="buttons">

                    <label class="btn btn-primary" id="ac_on">
                        <input type="radio" name="ac-radio" id="ac_option1" autocomplete="off"> On
                    </label>

                    <label class="btn btn-primary" id="ac_off">
                        <input type="radio" name="ac-radio" id="ac_option2" autocomplete="off"> Off
                    </label>

                </div>-->

                <!--<input bs-switch  
                ng-model="allValues.ac" 
                type="checkbox"
                
                ng-true-value="true"                
                ng-false-value="false">-->

                <!--<input type="text" value="{{allValues.ac}}">-->

            </div>
            <div class="col-sm-3 text-center" style="padding: 0; background-color:rgb(255, 150, 24); margin: 2px;">
                <h2>Heater</h2>

                <input type="checkbox" name="heat-checkbox">

                <!--<div class="btn-group" data-toggle="buttons">

                    <label class="btn btn-primary" id="heater_on">
                        <input type="radio" name="ac-radio" id="heater_option1" autocomplete="off"> On
                    </label>

                    <label class="btn btn-primary" id="heater_off">
                        <input type="radio" name="ac-radio" id="heater_option2" autocomplete="off"> Off
                    </label>

                </div>-->

                <!--<input bs-switch
                ng-model="allValues.heater" 
                type="checkbox"
                
                ng-true-value="true"
                ng-false-value="false">-->

                <!--<input type="text" value="{{allValues.heater}}">-->



            </div>

            <div class="col-sm-6 text-center" style="padding: 0; background-color:#DBDBDB; margin: 2px;">
                <img src="smart-rue-logo.png" class="img-responsive" alt="smart rue logo" />
            </div>
        </div>

    </div>

    <!--<ul>
        <li ng-repeat="phone in phones">
            <span>{{phone.name}}</span>
            <p>{{phone.snippet}}</p>
        </li>
    </ul>-->

</body>

</html>